@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

h1 {
  font-family: "Belanosima";
  color: #eff5f5;
  text-align: center;
}
h2 {
  font-family: "Poppins";
  color: #eff5f5;
  font-size: 5px;
  padding: 10px;
}
h3 {
  font-family: "Poppins";
  color: #eff5f5;
  font-size: 5px;
}
p {
  font-family: "Poppins";
  font-size: medium;
  text-align: justify;
}
header {
  height: 400px;
  background-color: #1f8a70;
  background-image: url(../img/portada.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.nav {
  position: sticky;
  background-color: #fc7300;
  font-family: "Poppins";
  display: flex;
}
html {
  scroll-behavior: smooth;
}
.section_container {
  background-color: #1f8a70;
  color: #eff5f5;
}
.footer {
  background-color: #00425a;
  color: #eff5f5;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.redes {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instituto,
.contacto {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fa.fa {
  font-size: 2.2em;
}
footer ol {
  margin: 0;
  text-align: left;
  padding-left: 0;
}
footer li {
  display: block;
  list-style-type: none;
  padding-bottom: 30px;
}
footer li:hover {
  scale: 110%;
  animation: rotate 1s;
}
.instituto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 320px;
}
figcaption {
  font-family: "Poppins";
}
.container figure img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
article {
  border: solid 2px #181823;
  padding-left: 1px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 3px 4px 24px 0px rgba(0, 66, 90, 1);
}
.container article:hover {
  transform: scale(1.08);
  transition: all 0.7s ease-in-out;
}

@media screen and (min-width: 320px) {
  p {
    font-size: 13px;
  }
  h3 {
    font-size: 17px;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
  nav a {
    font-family: "Poppins";
    font-size: small;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: end;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  figure {
    align-self: center;
    margin: 20px;
  }
  figure img {
    width: 200px;
  }
  figcaption {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 15px;
  }
  h3 {
    font-size: 19px;
  }
  h2 {
    font-size: 23px;
  }
  h1 {
    font-size: 27px;
  }
  nav {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  figcaption {
    text-align: center;
  }
  figure img {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 18px;
    margin: 20px;
  }
  h3 {
    font-size: 23px;
  }
  h2 {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
  nav a {
    font-size: medium;
  }
  nav {
    padding: 7px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  figcaption {
    text-align: center;
  }
  figure img {
    width: 200px;
  }
}
